<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit user info</title>
</head>
<body>
    <form th:method="PATCH" th:action="@{/people/{id} (id=${person.getId()})}" th:object="${person}">
        <label>edit profile:</label>
        <br/>

        <input type="text" th:field="*{name}" id="name"/>
        <div style="color: crimson" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">invalid name input</div>
        <br>

        <input type="text" th:field="*{year}" id="year"/>
        <div style="color: crimson" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">invalid year input</div>
        <br/>

        <input type="submit" value="save changes">
    </form>
</body>
</html>