<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new user</title>
</head>
<body>
    <form th:method="POST" th:action="@{/people}" th:object="${person}">
        <label for="name">enter name:</label>
        <input type="text" th:field="*{name}" id="name"/>
        <div style="color: crimson" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">invalid name input</div>
        <br/>

        <label for="lastname">enter lastname:</label>
        <input type="text" th:field="*{lastname}" id="lastname"/>
        <div style="color: crimson" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">invalid lastname input</div>
        <br/>

        <label for="email">enter email:</label>
        <input type="text" th:field="*{email}" id="email"/>
        <div style="color: crimson" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">invalid email input</div>
        <br/>

        <label for="dateOfBirth">enter date of birth:</label>
        <input type="text" th:field="*{dateOfBirth}" id="dateOfBirth"/>
        <div style="color: crimson" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">invalid date of birth input</div>
        <br/>

        <input type="submit" value="add">
    </form>
</body>
</html>