<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>book</title>
</head>
<body>
  <p th:text="${book.getTitle()+', '+book.getAuthor()+', '+book.getYear()}">title, author, year</p>

  <div th:if="${keeper != null}">
      <div th:text="'the book is in the possession of '+${keeper.getName()}"></div>
      <form th:method="PATCH" th:action="@{/books/{id}/release (id=${book.getId()})}">
          <input type="submit" value="release"/>
      </form>
      <hr/>
  </div>


  <div th:if="${keeper == null}">
      <div>the book is available</div>
      <form th:method="PATCH" th:action="@{/books/{id}/assign (id=${book.getId()})}">
          <label for="person">assign it to: </label>
          <select th:object="${person}" th:field="*{id}" id="person">
              <option th:each="person : ${people}" th:value="${person.getId()}"
                      th:text="${person.getName()}"></option>
          </select>
          <input type="submit" value="assign"/>
      </form>
      <hr/>
  </div>


  <form th:action="@{/books/{id}/edit (id=${book.getId()})}">
    <input type="submit" value="edit"/>
  </form>

  <form th:method="DELETE" th:action="@{/books/{id} (id=${book.getId()})}">
    <input type="submit" value="delete"/>
  </form>
</body>
</html>