<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form th:method="PATCH" th:action="@{/books/{id} (id=${book.getId()})}" th:object="${book}">
    <label>edit book:</label>
    <br/>

    <input type="text" th:field="*{title}" id="title"/>
    <div style="color: crimson" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">invalid title input</div>
    <br>

    <input type="text" th:field="*{author}" id="author"/>
    <div style="color: crimson" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">invalid author name input</div>
    <br/>

    <input type="text" th:field="*{year}" id="year"/>
    <div style="color: crimson" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">invalid year input</div>
    <br/>

    <input type="submit" value="save changes">
  </form>
</body>
</html>