<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new book</title>
</head>
<body>
  <form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label for="name">enter name of the book:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: crimson" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">invalid book name input</div>
    <br/>

    <label for="author">enter author's name:</label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color: crimson" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">invalid author name input</div>
    <br/>

    <label for="year">enter year of publication:</label>
    <input type="text" th:field="*{year}" id="year"/>
    <div style="color: crimson" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">invalid year input</div>
    <br/>
    <input type="submit" value="add">
  </form>
</body>
</html>